################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
/packages
/WebAPIGetStarted/bin
/WebAPIGetStarted/obj/Debug
