################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
/packages
/WebAPI-GetStarted/bin
/WebAPI-GetStarted/obj